# intellij
.idea
idea
*.log
*.iml
*.ipr
*.iws

# mac
.DS_Store

# general
*.class
*.json

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
out
target
.bsp



